---
import Layout from '../layouts/Layout.astro'
import WhiteCard from '../components/WhiteCard.vue'

const response = await fetch(`${import.meta.env.PUBLIC_API}/horarios`)

const horarios = await response.json()
---

<Layout title="Horarios">
  <div class="page-title">
    <h2>Horarios</h2>
  </div>
  <div class="cards">
    {
      horarios.map((item) => (
        <WhiteCard
          dia={item.dia}
          hora={item.hora}
          titulo={item.titulo}
          icono={item.icono}
          endDate={item.endDate}
        />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .cards {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
