---
import Layout from '../layouts/Layout.astro'
import Premio from '../components/Premio.vue'

const response = await fetch(`${import.meta.env.PUBLIC_API}/premios`)

const premios = await response.json()
---

<Layout title="Premios">
  <div class="page-title">
    <h2>Premios</h2>
  </div>
  <div class="cards">
    {
      premios.map((premio) => (
        <Premio
          titulo={premio.titulo}
          stock={premio.stock}
          precio={premio.precio}
          foto={premio.foto}
        />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .cards {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
