---
import Layout from '../layouts/Layout.astro'
import WhiteCard from '../components/WhiteCard.vue'
import Api from '../api'

const userCode = Astro.cookies.get('userCode')
const jobs = await Api.get(`/users/jobs?userCode=${userCode.value}`)
console.log(jobs)
---

<Layout title="Trabajo">
  <div class="page-title">
    <h2>Trabajo</h2>
  </div>
  <div class="cards">
    {
      jobs.map((item) => (
        <WhiteCard
          dia={item.dia}
          hora={item.hora}
          titulo={item.text}
          icono={item.icon}
        />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .cards {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
