---
import Layout from '../../layouts/Layout.astro'
import Ranking from '../../components/Ranking.vue'
import Api from '../../api'

const { game } = Astro.params

console.log(
  'BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB',
  `/users/ranking?game=${game}`
)

let users = await Api.get(`/users/ranking?game=${game}`)

console.log('BAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', users)

users = users.map((user) => {
  if (user.imagen) {
    const base64Image = Buffer.from(user.imagen.data).toString('base64')
    user.foto = `data:image/jpeg;base64,${base64Image}`
  }

  return user
})

const titulo = game[0].toUpperCase() + game.substring(1, game.length)
---

<Layout title={`Ranking ${titulo}`}>
  <a href="/ranking">
    <img class="back" src="/icons/back.svg" alt="<" />
    <div class="page-title">
      <img src={`/icons/${game}.svg`} />
      <h2>{titulo}</h2>
    </div>
  </a>
  <Ranking users={users} />
</Layout>

<style lang="scss">
  .page-title {
    display: flex;
    justify-content: center;
    gap: 10px;

    h2 {
      text-align: center;
    }

    img {
      width: 30px;
    }
  }

  .back {
    position: absolute;
    margin-top: 22px;
    margin-left: 20px;
    width: 30px;
  }
</style>
